:root{
	--text-shadow: #000000;
	--category-item-height:100px;
}

:host{
	--category-item-height: 100px;
	--category-item-width: 100px;
}


@media (max-width: 992px)
{
	:host{
		--category-item-height: 70px;
		--category-item-width: 70px;
	}
}


.categories-container
{
	gap: 10px;
	padding-top:10px;
	padding-left: 10px;
}

button.category-item
{
	/*
	order: 0;
	flex: 1 1 200px;
	align-self: center;*/
	position:relative;
	/*border: 2px solid var(--pv-bar-background-color);*/
	padding: 0;
	background-image: url(/assets/2px_transparent.png);
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: var(--category-item-height);
	margin-bottom: 10px;
	overflow: hidden;
	width: var(--category-item-width );
	text-decoration: none;
	cursor:pointer;
	font-weight:400;
	color:white;
}


button.category-item.COVER
{
	background-size: cover;
}

button.category-item.CONTAIN
{
	background-color: white;
	background-size: contain;
}

button.category-item.NEVER
{
	color: transparent!important;
	text-shadow: none! important;
}


button.category-item.DOWN
{
	position:relative;
}
button.category-item.DOWN .text
{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}


.category-item .text
{
	width: 90%;
	margin:auto;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	/*text-shadow: 0px 0px 3px #000000, 0px 0px 20px #000000;*/
	text-align: center;
	text-decoration: none;
}

.category-item.back
{
	/*
	background-color: var(--pv-bar-background-color);
	color: var(--pv-bar-text-color);
	*/
	color: var(--pv-bar-background-color);
	border: 5px solid var(--pv-bar-background-color);
	border-radius: 20px;
	background-color: transparent;
}
.category-item.back svg
{
	position:relative;
	top: -4px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	/*
	.category-item
	{
		min-width: 150px;
		width: 150px;
		height: 150px;
	}

	.category-item .text
	{
		font-size: 25px;
	}
	*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {



}

/* Large devices (desktops, 992px and up) 
@media (min-width: 992px)
{ 
	.category-item
	{
		width: 90px;
		height: 90px;
	}
}
*/

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px)
{
	.category-item
	{
		line-height: 100px;
	}

	.category-item .text
	{
		font-size: 16px;
		text-decoration: none;
	}
}

.category_list_scroll
{
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid rgba(128,128,128,0.5);
}

.category_list_scroll > div
{
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
.category_list_scroll>div>button.category-item
{
	display:flex;
	width: var(--category-item-width);
	height: var(--category-item-height);
	justify-content:center;
	alignt-items:center;
	margin-right: 10px;

	flex-shrink: 0;
	transform-origin:center center;
	transform: scale(1);
	transition: transform 0.5s;
	scroll-snap-align: center;
	position: relative;
}
