.addresses
{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.address-item
{
	order: 0;
	flex: 0 0 300px;
	align-self: auto;
	position: relative;
	margin: 5px;
	cursor: pointer;
}


@media( min-width: 375px )
{
	.address-item
	{
		order: 0;
		flex: 0 0 346px;
		align-self: auto;
		position: relative;
		margin: 5px;
		cursor: pointer;
	}
}
