.break_pages
{
	filter: grayscale(100%);
	break-after: page;
}

@media screen{ 
	.image_logo_ticket
	{
		width: 25%;
		padding-bottom: 15px;
	}
}

@media print { 
	.image_logo_ticket
	{
		width: 80%;	
		padding-bottom: 50px;
	}
}

a {
	color: #000;
	text-decoration: none;
}

#markdown a:visited,
#markdown a:link,
#markdown a:hover,
#markdown a:focus
{
	color: #000 !important;
	text-decoration: none !important;
}

 
.btn.btn-primary
{
	background-color: #767579 !important;
	border: 1px solid #767579 !important;
	color: white ;
	box-shadow: none !important;
}
