.t_element
{
	background-color: var(--btn-primary-bg-color ) !important;
	width:200px;
	height:200px;
	margin-right:5px;
	color: white;
	margin-bottom:5px;
	/* d-flex justify-content-between flex-column */
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important;
}

@media( max-width: 430px )
{
	.t_element
	{
		width:165px;
		height:165px;
	}
}
